.drawer {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.drawer-item {
  justify-content: start;
}

.content {
  padding-left: 50px;
}

.link-active {
  background: lightgray;
}
