@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  )
));

html {
  @include mat.all-component-themes($theme);
  @include mat.typography-hierarchy($theme);
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
}
