<div mat-dialog-title>Project Registration</div>
<mat-dialog-content>
  <form [formGroup]="projectFormGroup">
    <div style="display: flex; flex-direction: column; gap: 10px">
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput
               formControlName="name" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close type="button">
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>

  <button mat-button (click)="save()" type="button">
    <mat-icon>save</mat-icon>
    Save
  </button>
</mat-dialog-actions>
